Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
matplotlib>=1.4.3
nltk>=3.4.5
numpy>=1.9.2
pandas>=0.19
scipy>=0.15.1
scikit-learn==0.21.3
contractions==0.0.45
HeapDict==1.0.1
imblearn==0.0
textblob==0.15.3
tqdm==4.56.0
